@import '../../styles/Variables';

// Desktop
.Propos {
    max-width: $desktop-max-width;
    width: 90%;
    font-family: $primary-font;
    letter-spacing: 0em;
    text-align: left;
    color: $primary-color;
    margin: 0 auto;
    flex: 1;
}

// Mobile
@media only screen and (max-width: $mobile-max-width) {
    .Propos {
        max-width: $mobile-max-width;
    }
}
