@import '../../../styles/Variables';
@import '../../../styles/Animations';

// Desktop
// css composant générique
.DropDown_Title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    border-radius: 5px;
    color: $secondary-color;
    padding: 7px 20px;
    &.open {
        .Arrow {
            animation: openArrow 0.7s ease forwards;
        }
    }
    &.closed {
        .Arrow {
            animation: closeArrow 0.7s ease forwards;
        }
    }
}
.DropDown_Content {
    background-color: $background-color;
    border-radius: 0 0 5px 5px;
    line-height: 1.5;
    padding: 25px 15px;
}

// css page a Propos
.DropDown_List{
    width: 80%;
    margin: 30px auto;
    .DropDown_Item_Propos{
        margin: 20px 0;
    }
}

// css page Logement
.MainContent_DropDown {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    .DropDown_Item_Logement {
        width: 45%;
    }
}

// Mobile
@media only screen and (max-width: $mobile-max-width) {
    // css composant générique
    .DropDown_Title {  
        font-size: 13px; 
        padding: 3px 10px;
    }
    .DropDown_Content {
        font-size: 12px;
    }

    // css page Logement
    .MainContent_DropDown {
        flex-wrap: wrap;
        .DropDown_Item_Logement {
            width: 100%;
            margin-bottom: 5%;
        }
    }

    // css page a Propos
    .DropDown_List{
        width: 100%;
    }
}

// Tablet
@media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    // css page Logement
    .MainContent_DropDown {
        flex-wrap: wrap;
        .DropDown_Item_Logement {
            width: 100%;
            margin-bottom: 3%;
        }
    }

    // css page a Propos
    .DropDown_List{
        width: 90%;
    }
}