// css page a Propos
.DropDown_List{
    width: 90%;
    margin: 30px auto;
    .DropDown_Item_Propos{
        margin: 20px 0;
    }
}
// css page Logement
.MainContent_DropDown {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    .DropDown_Item_Logement {
        width: 45%;
    }
}
// css composant générique
.DropDown_Title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF6060;
    border-radius: 5px;
    color: #fff;
    padding: 7px 20px;
}
.DropDown_Content {
    background-color: #F6F6F6;
    border-radius: 0 0 5px 5px;
    padding: 25px 15px;
    line-height: 1.5;
}