.Kasa_Logement {
    max-width: 1400px;
    font-family: Montserrat;
    letter-spacing: 0em;
    text-align: left;
    color: #FF6060;
    margin: auto;
    .Logement_Title {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 20px auto;
        .Logement_Title_Tag {
            margin-bottom: 20px;
            max-width: 80%;
            .MainContent_Title {
                margin-bottom: 20px;
                .MainContent_Title_Title {
                    font-size: 36px;
                    font-weight: 500;
                    line-height: 51px;
                    .MainContent_Title_Lieu {
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 26px;
                    }
                }
            }
            .MainContent_TagList {
                display: flex;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                text-align: center;
                gap: 10px;
                .MainContent_TagList_Tag {
                    background: #FF6060;
                    color: #FFFFFF;
                    border-radius: 10px;
                    padding: 2px 25px;
                }
            }
        }
        .Logement_Title_People {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            .MainContent_People {
                display: flex;
                align-items: center;
                width: min-content;
                gap: 15px;
                .MainContent_People_Name {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 26px;
                    text-align: right;
                }
                .MainContent_People_Picture {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    background-color: #C4C4C4;
                }
            }
            .MainContent_StarNote {
                .StarNote_Star {
                    padding: 5px;
                }
            }
        }
    }
}