@import '../../../styles/Variables';

// Desktop
.Footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: $footer-color;
    padding: 30px 0;
    margin: 0 auto;
    gap: 28.556px;
    .Footer_Logo {
        width: 12%;
    }
    .Footer_Content {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: flex-end;
        color: $secondary-color;
        text-align: center;
        font-family: $primary-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.6%;
    }
}

// Mobile
@media only screen and (max-width: $mobile-max-width) {
    .Footer {
        max-width: $mobile-max-width; 
        .Footer_Content {
            font-size: 12px;
        }
    }  
}

// Tablet
@media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    .Footer {
        max-width: $tablet-max-width; 
    }  
}