// Variables couleurs
$primary-color: #FF6060;
$secondary-color: #ffffff;
$background-color: #F6F6F6;
$footer-color: #000000;

// BreakPoint
$desktop-max-width:1400px;
$desktop-min-width:1200px;
$tablet-max-width:1199px;
$tablet-min-width:768px;
$mobile-max-width:767px;

// Font
$primary-font: Montserrat;