//Layout
.Kasa_Header{
    display: flex;
    justify-content: space-between;
    width: 1240px;
    height: 68px;
    margin : 50px 100px 0px 100px;
}
//Logo
.Kasa_Logo{
    width: 210.322px;
    height: 68px;
    flex-shrink: 0;
}