.Kasa_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1400px; 
    margin : 30px auto;
    .Kasa_Logo {
        width: 25%;
        height: auto;
    }
}
