.MainContent_TagList{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    display: flex;
    gap: 10px;
}
.MainContent_TagList_Tag{
    padding: 2px 25px;
    background: #FF6060;
    color: #FFFFFF;
    border-radius: 10px;
}