//Layout
.Kasa_Nav{
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
//Texte
.Kasa_Nav_Txt{
    width: 136px;
    color: #FF6060;
    text-align: right;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 34.224px;
    text-decoration: none;
    //text-decoration-line: underline;
}