@import '../../../styles/Variables';

// Desktop
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: $desktop-max-width; 
    margin : 30px auto;
    .Header_Logo {
        width: 20%;
        height: auto;
    }
    .Header_Nav {
        display: flex;
        justify-content: flex-end;
        width: 40%;
        .Nav_Content {
            width: 50%;
            color: $primary-color;
            text-align: right;
            font-family: $primary-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 34.224px;
            text-decoration: none;
        }
    }  
}

// Mobile
@media only screen and (max-width: $mobile-max-width) {
    .Header {
        max-width: $mobile-max-width;
        .Header_Nav {
            .Nav_Content {
                font-size: 12px;
            }
        }
    }  
}