@import '../../../styles/Variables';

// Desktop
.Carrousel {
    display: flex;
    justify-content: center;
    position: relative;
    .Carrousel_Button {
        background-color: $secondary-color;
        border: none;
    }
    .Carrousel_Button_Prev {
        position: absolute;
        left: 5%;
        width: 10%;
        height: 100%;
        background: transparent;
        cursor: pointer;
        z-index: 2;
        .Button_Img_Prev {
            height: 19%;
            transform: rotate(90deg);
        }
    }
    .Carrousel_Button_Next {
        position: absolute;
        right: 5%;
        width: 10%;
        height: 100%;
        background: transparent;
        cursor: pointer;
        z-index: 2;
        .Button_Img_Next {
            height: 19%;
            transform: rotate(-90deg);
        }
    }
    .Carrousel_Img {
        position: relative;
        width: 90%;
        height: 400px;
        border-radius: 10px;
        object-fit: cover;
        object-position: center;
    }
    .Carrousel_Img_Position {
        position: absolute;
        left: 50%;
        top: 90%;
        color: $secondary-color;
    }
}

// Mobile
@media only screen and (max-width: $mobile-max-width) {
    .Carrousel {
        .Carrousel_Button_Prev {
            .Button_Img_Prev {
                height: 10%;
            }
        }
        .Carrousel_Button_Next {
            .Button_Img_Next {
                height: 10%;
            }
        }
        .Carrousel_Img {
            height: 250px;
        }
        .Carrousel_Img_Position {
            display: none;
        }
    }
}